<form method="post" action="{{ path('app_transfert_delete', {'id': transfert.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet transfert ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transfert.id) }}">
    <button class="btn btn-danger p-1 m-3">Supprimer</button>
</form>
