{% extends 'base.html.twig' %}

{% block title %}New Transfert
{% endblock %}

{% block body %}
	<div class="container_new">
		<h2 class="text-center mt-3 mb-5">Commencer un nouveau transfert</h2>

		{{ include('transfert/_form.html.twig', {'button_label': 'Valider'}) }}

		{# <a href="{{ path('app_transfert_index') }}">Retour à la liste</a> #}
	</div>

	<script type="text/javascript">
		document.getElementById("transfert_montTransfert").addEventListener("change", myFunction);

function myFunction() {
var transfert = document.getElementById("transfert_montTransfert");
var frais = document.getElementById("transfert_fraisTransfert");
// var commission = document.getElementById("transfert_comTransfert");
// var agent = document.getElementById("transfert_comAgentLivreur");
var benef = document.getElementById("transfert_montBenef");

if (isNaN(transfert.value)) {
transfert.value = '';
frais.value = '';
// commission.value='';
// // agent.value='';
benef.value = '';

} else {
frais.value = transfert.value * 0.025;
// commission.value= transfert.value*0.03;
// agent.value= transfert.value*0.07;
// benef.value= transfert.value*0.90;

benef.value = transfert.value - frais.value;

}
}
	</script>

{% endblock %}
