{# {{ form_start(form) }}

{{ form_widget(form) }}

<div>
	<h1>Voulez vous comfirmer la livraison de ce transfert ?</h1>
</div>


<div class="d-flex justify-content-start mt-3">
	<button class="btn btn-success">{{ button_label|default('Livrer') }}</button>
</div>

{{ form_end(form) }} #}
