{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil!
{% endblock %}

{% block body %}
	
		<div class="container ml-5 mt-4" style="height: 60vh">
			<h2>Bienvenue sur SEND-€-CFA...</h2>
			<h3>
				Notre site de transfert d'argent fiable rapide et sécurisé.</h3>
			<h4>Notre politique se differencie de tous les autres canaux de transfert d'argent.</h4>
			<h5>Pour l'instant le transfert de monnaie n'est possible que pour un échange entre l'euro à la zone du franc CFA dont le taux reste encore fixe.</h5>
			<h6>Utilisez notre site pour envoyer de l'argent à vos proches nous nous engageons à les apporter sur place par l'intermediaire de l'un de nos agents</h6>
			<h7>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</h7>
		</div>
		
		<div class="list-group" style="padding-bottom: 30px; margin-bottom: 30px; background-color: beige">
		{% if is_granted('ROLE_ADMIN') %}
			<h2 class="m-5">Les villes disponible aux transferts</h2>
			<ul class="nav nav-tabs justify-content-center">
				{% for ville in villes %}
					<li class="nav-item">
						<a class=" nav-link  {% if app.request.uri|split('/')|last == ville.id %} active{% endif %} " href="{{path('tab', {id:ville.id})}}">{{ville.name}}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
{% endblock %}
