{% extends 'base.html.twig' %}

{% block title %}Projet Utilisateurs{% endblock %}    

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {# {% if app.user %}
		<div class="text-center mt-3">
			<a href="{{ path('app_transfert_new')}}" class="btn btn-success text-center mt-3">Passer votre Transfert</a>
		</div>
	{% endif %} #}
    
       
    
</div>
{% endblock %}
