{% extends 'base.html.twig' %}

{% block title %}Agentlivreur
{% endblock %}

{% block body %}

{# {% if app.user %}
			<div class="text-center mt-3">
				<a class="btn btn-primary" href="{{ path('app_transfert_show', {'id': transfert.id}) }}">show</a>
				<a class="btn btn-warning" href="{{ path('app_transfert_edit', {'id': transfert.id}) }}">edit</a>
            </div>

			<div class="text-center mt-3">
				<a href="{{ path('app_transfert_new')}}" class="btn btn-success text-center mt-3">Transfert Livré</a>
			</div>
		{% endif %} #}

   
{% endblock %}