/**
mes couleurs
afficher = info
mettre à jour= primary
liste= info
envoie =rgb(186,124,51)

couleur= RGBA(13,110,253,0.25)

**/

body {
  width: 100vw;
  /* background-color:rgb(187, 59, 59); */
  max-height: 100vh;
  /* padding: 0;
  font-family: arial, sans-serif;
  color: black; */
}

/* .container{
	width: 100vw;
	max-height: 100vh;  
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	color:black;
}	
*/ 
/* .content_form {
  max-width: 30vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(186, 124, 51);
  border-radius: 40px;
} */

.table {
  max-width: 80vw !important;
  margin: 20px 10px 10px 10px;
  border-collapse: collapse;
  border: solid 1px;
}

th,
td {
  padding: 10px;
  border: solid 1px;
}

tr td:last-child {
  text-align: end;
}
.navbar .footer {
  width: 100% !important;
  position: relative;
}
label {
  display: block;
  line-height: 20px !important;

}

/*** image carte du monde**/

.img-fluid{
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);


}
/* input, select{
    width: 80% !important;
	margin: 0 !important;
	padding: 0% !important;

} */
/* select{
	width: 80% !important;
	display: block;
	line-height:20px !important;
	margin-left: 50px;
	
} */
#registration_form_agreeTerms {
  width: 15px !important;
  height: 15px;
  margin: 0;
  padding: 0;
}

/** formulaire d'envoi**/
.content_new{
	width: 60%; 
  height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
 background-color: rgb(186,124,51);
 border-radius: 15px;
 padding: 40px;
 margin-left: 20%;
	
}

/**Inscription et Connexion*/
.card{
border-radius: 30px;
height: 80vh;
box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}
