/**
mes couleurs
afficher = info
mettre à jour= primary
liste= info
envoie =rgb(186,124,51)

**/

body {
	width: 100vw;
	min-height: 100vh;
    background-color:white;
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	color:black;
}
#container{
	background-color: rgb(222,89,111);
}

h1{
    color: black;
}

.table {
	max-width: 80vw !important;
	margin: 20px 10px 10px 10px;
	border-collapse: collapse;
	border: solid 1px;
}

th, td {
	padding: 10px;
	border: solid 1px;
} 

tr td:last-child {
	text-align: end;
}

.navbar{
	width: 100% !important;
	position:relative;
	
}

label {
    display: block;
}

input{
    width: 50% !important;
}

select{
	width: 25% !important;
}

textarea{
    width: 155rem;
}

#registration_form_agreeTerms{
	width: 10px !important;
	height: 10px;
}